$red: hsl(4, 38%, 49%);
$darkorange: hsl(24, 51%, 55%);
$lightorange: hsl(35, 61%, 56%);
$yellow: hsl(51, 81%, 55%);

$lightblue: hsl(196, 69%, 46%);
$blue: hsl(201, 80%, 37%);
$darkblue: hsl(206, 88%, 32%);
$deepblue: hsl(210, 97%, 27%);